<div class="create-calendar-container">
  <div class="create-calendar-wrapper">
    <div class="calendar-tile-container" *ngIf="calendars">
      <div
        class="calendar-tile"
        *ngFor="let calendar of calendars | keyvalue"
        (click)="selectedCalendar($event, calendar.key)"
      >
        <div class="calendar-menu-container">
          <app-icon [matMenuTriggerFor]="menu" class="calendar-menu"
            >more_vert</app-icon
          >
          <mat-menu #menu="matMenu" class="customMenu">
            <div mat-menu-item (click)="openEditCalendarDialog(calendar.value)">
              <mat-icon>edit_note</mat-icon><span>Edit</span>
            </div>
            <div
              mat-menu-item
              (click)="openRemoveCalendarDialog(calendar.value)"
            >
              <mat-icon>delete</mat-icon><span>Remove</span>
            </div>
          </mat-menu>
        </div>
        <div class="title">
          {{ calendar.value.name }}
        </div>
      </div>
      <div
        class="calendar-tile add-button"
        (click)="openCreateCalendarDialog()"
      >
        <app-icon [isAutoFontSize]="true">add_box</app-icon>
      </div>
    </div>
  </div>
</div>
