<ng-container *ngIf="user$ | async as user">
  <ul>
    <li>
      <a
        [routerLink]="'/calendar'"
        routerLinkActive="active"
        (click)="deselectCalendar()"
        >Calendars</a
      >
    </li>
    <li class="right">
      <a [matMenuTriggerFor]="userMenu">{{ user.name }}</a>
      <mat-menu #userMenu="matMenu" class="menu">
        <div mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon><span>sign out</span>
        </div>
      </mat-menu>
    </li>
  </ul>
</ng-container>
