@import "colors";

.calendar-picker {
  display: flex;
  margin: 1rem 2rem 0rem 2rem;
  padding: 1rem 0rem;
  height: 1rem;
  background-color: $color-primary;
  border-radius: 6px 6px 0px 0px;
  color: $text-color;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  .switch {
    margin: 0 0.5rem;
    transition: color 0.25s ease;
    :hover {
      &:hover {
        opacity: 20%;
      }
    }
  }
}
