<ng-container
  *ngIf="{
    selectedCalendar: selectedCalendar$ | async,
    calendars: calendars$ | async
  } as data"
>
  <ng-container *ngIf="data.selectedCalendar; else createCalendar">
    <app-calendar-picker
      [selectedCalendar]="data.selectedCalendar"
    ></app-calendar-picker>
    <app-current-calendar
      [appointments]="appointments$ | async"
    ></app-current-calendar>
  </ng-container>

  <ng-template #createCalendar>
    <app-create-calendar
      [calendars]="data.calendars"
      (selectCalendar)="selectCalendar($event)"
      (createCalendar)="openCreateCalendarDialog()"
      (editCalendar)="openEditCalendarDialog($event)"
      (removeCalendar)="openRemoveCalendarDialog($event)"
    ></app-create-calendar>
  </ng-template>
</ng-container>
