@import "colors";

table,
th,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0;
  text-align: center;
}

td {
  padding: 1rem;
}

th {
  pointer-events: none;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: #a8a8a8;
  padding: 1rem;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
table {
  width: 100%;
  position: relative;
}

.create-calendar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .create-calendar-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    .primary-button {
      display: flex;
      text-align: center;
      height: 5rem;
      width: 5rem;
      font-size: 4rem;
      justify-content: center;
      align-items: center;
    }

    .label {
      font-size: 1.5rem;
      text-align: center;
      width: 11rem;
      color: $color-primary;
    }
  }
}

.calendar-container {
  margin: 2rem;
  max-height: 85vh;
  overflow-x: scroll;
}

.pointer {
  cursor: pointer;
}
