<app-base-dialog [enableOverflow]="true">
  <div class="form-container">
    <form [formGroup]="createCalendarForm">
      <div class="row">
        <h4>Name</h4>
        <div class="input-group input-group-icon">
          <input
            type="text"
            formControlName="name"
            placeholder=""
            minlength="1"
          />
          <div class="input-icon">
            <app-icon>calendar_add_on</app-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <h4>Add users</h4>
        <app-user-selector
          [selectedUsers]="createCalendarForm.value.users"
          (selectedUsersEventEmitter)="selectUser($event)"
          (removeUserEventEmitter)="removeUser($event)"
        ></app-user-selector>
      </div>
    </form>
    <div class="footer">
      <div class="button-container">
        <button class="secondary-button" (click)="close()">Cancel</button
        ><button class="primary-button" (click)="createCalendar()">
          Create Calendar
        </button>
      </div>
    </div>
  </div>
</app-base-dialog>
