@import "colors";

.dialog-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0.5rem;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;

    .title {
      margin: 0.5rem;
      font-weight: 600;
      color: $color-primary;
    }

    .close-icon {
      margin-left: auto;
      transition: color 0.25s ease;

      &:hover {
        opacity: 20%;
      }
    }
  }

  .dialog-content {
    max-width: 70vw;
    max-height: 70vh;
    overflow: auto;
  }
}
