.dialog-container {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  max-height: 70vh;
  background-color: aqua;

  .header {
    display: flex;
    flex-direction: row;

    .close-icon {
      float: left;
    }
  }
}
